.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 21rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(210, 210, 210);
  overflow: scroll;
}

.song-library {
  padding: 2rem 0rem;

  h2 {
    padding: 0 1rem 2rem 1rem;
    font-size: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background: rgb(221, 233, 255);
  }
}

.song-info {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h3 {
    font-size: 1.2rem;
    font-family: "Lora";
    font-style: italic;
  }

  h4 {
    font-size: 0.9rem;
    font-family: "Merriweather";
    font-weight: 300;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5);
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
