.player {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  justify-content: space-between;

  input {
    width: 100%;
    padding: 1rem 0rem;
  }

  p {
    padding: 1rem;
    font-family: "Merriweather Sans";
    font-weight: 300;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-bottom: 8rem;

  svg {
    cursor: pointer;
  }
}
